.container {
  padding: 3rem;
}

.container > h2 {
  font-size: 2rem;
}

.container span {
  color: #f9a826;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text {
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 860px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .aboutImg {
    display: none;
  }
}
