.container {
  padding: 3rem;

  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title {
  font-size: 2rem;
}

.title > span {
  color: #f9a826;
}

.text {
  font-size: 1rem;
  font-weight: 600;
}

.inputText {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #1c1c1c;
  padding: 0.5rem 1rem;

  font-size: 1rem;

  resize: none;
}

.sendBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px #c1c1c1;

  color: #ffffff;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.sendBtn:hover {
  filter: brightness(0.8);
}

@media (max-width: 1px) {
}

@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container img {
    display: none;
  }
}
