html {
  background-color: #ffffff;
}

@keyframes slideY {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slideYAnim {
  animation-name: slideY;
  animation-duration: 1s;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slideLeftAnim {
  animation-name: slideLeft;
  animation-duration: 1s;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slideRightAnim {
  animation-name: slideRight;
  animation-duration: 1s;
}
