@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

html {
  font-family: "Inter";
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
}

.baseContainer {
  max-width: 1240px;
  margin: 0 auto;
}
